










body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    height: 100vh;
    justify-content: center;
    align-items: center;
 
}

.form-container {
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #3498db;
}

.form-group input[type="file"] {
    padding: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
}

.form-group input[type="file"]:hover {
    background-color: #f1f1f1;
}

.submit-btn {
    padding: 12px 30px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2980b9;
}

.submit-btn:active {
    background-color: #1f6d94;
}
